$color-neutral-0: #fff;
$color-neutral-1: #fcfcfc;
$color-neutral-2: #f4f4f4;
$color-neutral-3: #efefef;
$color-neutral-4: #6f767e;
$color-neutral-5: #33383f;
$color-neutral-6: #272b30;
$color-neutral-7: #1a1d1f;
$color-neutral-8: #111315;
$color-neutral-9: hsla(130, 5%, 9%, 1);

$color-primary-1: #06d001;
$color-primary-2: #83bf6e;
$color-primary-3: #ff6a55;
$color-primary-4: #8e59ff;
$color-primary-5: #ff9048;
$color-primary-6: hsla(203, 100%, 52%, 1);

$color-secondary-1: #ffbc99;
$color-secondary-2: #cabdff;
$color-secondary-3: #b1e5fc;
$color-secondary-4: #b5e4ca;
$color-secondary-5: #ffd88d;
